body{
    background:url("assests/storebackground.jpg");
    background-size: cover;
}
@keyframes slideInFromLeft {
    0% {
      /* transform: scale(0); */
      font-size: 1px;
    }
    100% {
      /* transform: scale(1); */
      font-size: 80px;
    }
  }


.header{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.header-item{
    margin: 30px;
    font-size: 30px;
}

.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 50px;
    animation: 1s ease-out 0s 1 slideInFromLeft
}


.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.container2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content:space-around;
    margin-top: 8%;
}

.shop-item{
    width:200px;
    /* border:1px solid rgb(70, 70, 70); */
    margin:10px;
    background-color: rgb(58, 58, 58);  
    border-radius: 20px;

}

.guitar{
    background:url("assests/guitar2.jpg");
    min-height: 200px;
    background-size: 170%;
    transition: 0.3s;
}
.guitar:hover{
background-size: 220%;
transform: scale(0.956);
}

.keyboard{
    background:url("assests/keyboard2.webp");
    min-height: 200px;
    background-size: 200%;
    transition: 0.3s;
}
.keyboard:hover{
    background-size: 250%;
    transform: scale(0.956);
}

.ukulele{
    background: url("assests/violin2.jpg");
    min-height: 200px;
    background-size:150%;
    transition: 0.3s;
}
.ukulele:hover{
background-size: 200%;
transform: scale(0.956);
}

.drums{
    background: url("assests/flutelearn4.jpg");
    min-height: 200px;
    background-size: 200%;
    transition: 0.3s;
}
.drums:hover{
background-size: 250%;
transform: scale(0.956);
}

.equipments{
    background: url("assests/tabla2.jpg");
    min-height: 200px;
    background-size: 200%;
    transition: 0.3s;
}
.equipments:hover{
background-size: 250%;
transform: scale(0.956);
}

